body{
	background-color: #FFB997;
	padding:10px 20px 10px 20px;
	
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.introduktion{
	background-color: #F67E7D;
	width:100%;
	border-radius:5px;
}
.introduktion h1{
	text-align:center;
}

.introduktion h3 {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
}